.about-who {
    background-color: #fff;
    color: #000;
    padding: 60px 20px;
    text-align: center;
}

.about-who h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000;
}

.about-who h2 span{
    color: #2e80ec;
}

.about-who p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 900px;
    margin: 0 auto;
    color: #000;
}

.about-who a {
    color: #2e80ec;
    text-decoration: none;
    font-weight: 500;

}

.about-who a:hover {
    text-decoration: underline;
    color: #d80e11;
}

/* Responsive */
@media (max-width: 768px) {
    .about-who h2 {
        font-size: 2.2rem;
    }

    .about-who p {
        font-size: 1rem;
        padding: 0 10px;
    }
}