/* ===== BLOG HERO ===== */
.blog-hero {
    background: linear-gradient(135deg, #0d1b3d, #031b4d);
    color: #fff;
    padding: 90px 10%;
    text-align: center;
}

.blog-hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.blog-hero p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: #fff;
}

/* ===== FEATURED BLOG ===== */
.featured-blog {
    display: flex;
    gap: 40px;
    padding: 80px 0;
    align-items: center;
}

.featured-image img {
    width: 100%;
    max-width: 520px;
    border-radius: 10px;
}

.featured-content .tag {
    background: #2e80ec;
    color: #fff;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
}

.featured-content h2 {
    font-size: 32px;
    margin: 15px 0;
    color: #2e80ec;
}

.featured-content p {
    color: #fff;
    margin-bottom: 25px;
    font-size: 15px;
}

.read-more {
    text-decoration: none;
    color: #ac051b;
    font-weight: 600;
}

/* ===== BLOG LIST ===== */
.blog-list {
    padding-bottom: 90px;
}

.section-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 40px;
    color: #2e80ec;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s;
}

.blog-card:hover {
    transform: translateY(-8px);
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-content .category {
    font-size: 16px;
    color: #2e80ec;
    font-weight: 600;
}

.blog-content h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #0d1b3d;
}

.blog-content p {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
}

.blog-content a {
    color: #ac051b;
    font-weight: 600;
    text-decoration: none;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
    .featured-blog {
        flex-direction: column;
        text-align: center;
    }

    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .blog-hero h1 {
        font-size: 30px;
    }

    .blog-grid {
        grid-template-columns: 1fr;
    }
}